body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff8ef0;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #d32f2f;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeSlideDown 2s ease forwards;
  }

  h2 {
    font-size: 2em;
    color: #ec5e5e;
    opacity: 0;
    transform: translateY(-15px);
    animation: fadeSlideDown 2s ease forwards;
    animation-delay: 2s;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: pulse 2s infinite;
    animation-delay: 4s;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 220px;
    transition: all 0.3s ease;
  }
  
  .gif_container img {
    width: 140px;      /* 👈 yahin control hai */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;

  }

  @keyframes fadeSlideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
  }